<div class="box-content page-width">
    <h2>{{block.settings.block2_header_heading}}</h2>
    <div class="d-grid">
        <div class="box_block_1">
            <h2>{{ block.settings.block2_heading_1 }}</h2>
            <p>{{block.settings.block2_subheading_1}}</p>
        </div>
        <div class="box_block_2">
            <h2>{{ block.settings.block2_heading_2 }}</h2>
            <p>{{block.settings.block2_subheading_2}}</p>
        </div>
        <div class="box_block_3">
            <h2>{{ block.settings.block2_heading_3 }}</h2>
            <p>{{block.settings.block2_subheading_3}}</p>
        </div>
        <div class="box_block_4">
            <h2>{{ block.settings.block2_heading_3 }}</h2>
            <p>{{block.settings.block2_subheading_3}}</p>
        </div>
    </div>
</div>