<div class="box-about-ourpartner page-width">
    <h2>{{ block.settings.heading_our_partner}}</h2> 
    <div class="d-grid">
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner.alt | escape }}"
                loading="lazy">
        </div>
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner_1 | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner_1.alt | escape }}"
                loading="lazy">
        </div>
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner_2 | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner_2.alt | escape }}"
                loading="lazy">
        </div>
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner_3 | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner_3.alt | escape }}"
                loading="lazy">
        </div>
    </div>
    <div class="d-grid">
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner_4 | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner_4.alt | escape }}"
                loading="lazy">
        </div>
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner_5 | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner_5.alt | escape }}"
                loading="lazy">
        </div>
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner_6 | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner_6.alt | escape }}"
                loading="lazy">
        </div>
        <div class="image">
            <img
                src="{{ block.settings.image_our_partner_7 | image_url: width: master }}"
                alt="{{ block.settings.image_our_partner_7.alt | escape }}"
                loading="lazy">
        </div>
    </div>
</div>