<div class="shopnow">
    <h2>Mua ngay tại</h2>
    <div class="shopnow_icon">
        <a href="{{block.settings.shopnow_link }}">
            <img
                class="image-icon-tich"
                src="{{ block.settings.icon_shopnow | image_url: master }}"
                alt="{{ block.settings.icon_shopnow.alt | escape }}"
                loading="lazy">
        </a>
        <a href="{{block.settings.shopnow_link1 }}">
            <img
                class="image-icon-tich"
                src="{{ block.settings.icon_shopnow1 | image_url: master }}"
                alt="{{ block.settings.icon_shopnow1.alt | escape }}"
                loading="lazy">
        </a>
        <a href="{{block.settings.shopnow_link2 }}">
            <img
                class="image-icon-tich"
                src="{{ block.settings.icon_shopnow2 | image_url: master }}"
                alt="{{ block.settings.icon_shopnow2.alt | escape }}"
                loading="lazy">
        </a>
    </div>
</div>