<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    
    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}
    <script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
        {% else %}
          --gradient-background: {{ scheme.settings.background }};
        {% endif %}

        {% liquid
          assign background_color = scheme.settings.background
          assign background_color_brightness = background_color | color_brightness
          if background_color_brightness <= 26
            assign background_color_contrast = background_color | color_lighten: 50
          elsif background_color_brightness <= 65
            assign background_color_contrast = background_color | color_lighten: 5
          else
            assign background_color_contrast = background_color | color_darken: 25
          endif
        %}

        --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-background-contrast: {{ background_color_contrast.red }},{{ background_color_contrast.green }},{{ background_color_contrast.blue }};
        --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
        --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
        --color-button-text: {{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }};
        --color-secondary-button: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-link: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
      }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        color: rgba(var(--color-foreground), 0.75);
        background-color: rgb(var(--color-background));
      }

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ settings.blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if settings.blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ settings.blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ settings.blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ settings.blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ settings.popup_border_thickness }}px;
        --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ settings.popup_corner_radius }}px;
        --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

        --drawer-border-width: {{ settings.drawer_border_thickness }}px;
        --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ settings.text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
      <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
      <ul class="icon-fixed">
        <li>
          <a href='https://chat.zalo.me/index.html' class="icon-zalo">
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_574_28074)">
            <g clip-path="url(#clip1_574_28074)">
            <path d="M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56Z" fill="#1363D6"/>
            <path d="M42.9904 27.124C43.0212 28.263 42.8407 29.3674 42.5301 30.4635C42.2185 31.5587 41.7947 32.5988 41.2221 33.5792C40.5981 34.6454 39.8468 35.6184 38.9655 36.4887C38.7812 36.6706 38.6053 36.8609 38.4267 37.0475C38.0506 37.3357 37.6791 37.6314 37.2965 37.9104C36.0269 38.8367 34.6469 39.5475 33.1556 40.0605C32.25 40.373 31.3257 40.6025 30.3864 40.7369C28.9559 40.9393 27.5151 40.9589 26.0725 40.7779C25.3025 40.6818 24.5437 40.555 23.7962 40.3507C23.6596 40.3133 23.5417 40.373 23.4276 40.4365C22.6352 40.8721 21.8418 41.3087 21.0484 41.7453C20.3252 42.1436 19.6002 42.54 18.8798 42.9449C18.6599 43.068 18.6356 42.9729 18.6356 42.7779C18.6394 41.3143 18.63 39.8516 18.6431 38.388C18.6468 38.0148 18.5261 37.7611 18.2165 37.5363C17.6935 37.1576 17.2276 36.7042 16.7766 36.2396C16.6943 36.1557 16.6213 36.0559 16.5006 36.0176C16.4763 35.9822 16.4511 35.9477 16.4267 35.9122C16.4071 35.8917 16.3874 35.8712 16.3687 35.8516C16.1844 35.484 15.8822 35.2033 15.638 34.8814C14.8737 33.8749 14.2927 32.776 13.8315 31.6053C13.5115 30.7937 13.3075 29.9514 13.1317 29.1025C12.9558 28.2508 13.0128 27.3814 13.0007 26.5185C12.9866 25.4682 13.1943 24.457 13.4554 23.4439C13.8109 22.0689 14.4096 20.8068 15.1862 19.6333C15.8616 18.6137 16.6672 17.6986 17.5924 16.8805C18.645 15.9495 19.7901 15.1724 21.0531 14.5652C22.1749 14.0251 23.3453 13.6361 24.5643 13.3506C26.1567 12.9765 27.7649 12.9597 29.3731 13.0372C30.2058 13.0764 31.0385 13.2508 31.8608 13.4579C33.1145 13.7723 34.3073 14.2219 35.4478 14.8189C36.1018 15.1612 36.7174 15.5642 37.3152 15.9961C37.4181 16.0717 37.5135 16.165 37.6464 16.1911C38.1666 16.7247 38.7728 17.1668 39.2799 17.7172C40.4372 18.97 41.3737 20.3609 42.0314 21.9392C42.3214 22.6379 42.5665 23.3544 42.72 24.0857C42.8753 24.8254 43.0353 25.5782 42.9932 26.3497C42.9773 26.6053 42.9838 26.8656 42.9904 27.124Z" fill="white"/>
            <path d="M20.6317 29.5662C21.5588 29.5662 22.4822 29.5625 23.4066 29.5672C23.9539 29.57 24.2738 29.9795 24.083 30.4356C23.9642 30.7201 23.7172 30.8666 23.4197 30.8694C22.1099 30.8797 20.7991 30.8787 19.4884 30.8694C19.1853 30.8675 18.9215 30.7463 18.7811 30.4506C18.6277 30.1287 18.7437 29.8414 18.9271 29.5811C19.5062 28.764 20.0956 27.9543 20.6803 27.1408C21.1313 26.514 21.5803 25.8862 22.0303 25.2593C21.9452 25.1548 21.8451 25.1968 21.7609 25.1968C21.033 25.1931 20.3052 25.2015 19.5773 25.1921C19.0449 25.1856 18.7877 24.9431 18.8251 24.5121C18.8569 24.1511 19.1132 23.903 19.4781 23.902C20.7056 23.8983 21.9321 23.8974 23.1596 23.902C23.7546 23.9048 24.0699 24.3899 23.851 24.9505C23.7097 25.3125 23.4412 25.5933 23.2204 25.902C22.398 27.0532 21.5598 28.1931 20.729 29.3386C20.6822 29.402 20.6251 29.4645 20.6317 29.5662Z" fill="#1363D6"/>
            <path d="M28.2292 30.3582C27.1692 31.4758 25.6386 30.9487 24.9996 29.9384C24.224 28.7118 24.4055 26.7118 25.7995 25.8349C26.5891 25.3386 27.6332 25.4599 28.2236 26.1483C28.3068 25.9701 28.3835 25.7994 28.5594 25.6987C29.0693 25.4058 29.5745 25.694 29.5801 26.3022C29.5886 27.2463 29.582 28.1903 29.582 29.1343C29.582 29.4562 29.582 29.7771 29.582 30.0989C29.5811 30.6269 29.4548 30.8237 29.0562 30.9161C28.7072 30.9972 28.4369 30.82 28.2292 30.3582ZM28.1637 28.2565C28.174 27.9841 28.1281 27.7229 28.0112 27.4757C27.6641 26.7397 26.8296 26.5989 26.3131 27.1912C25.8341 27.7397 25.8407 28.8004 26.3262 29.3405C26.8034 29.8703 27.549 29.8004 27.927 29.1978C28.1104 28.9058 28.1627 28.5877 28.1637 28.2565Z" fill="#1363D6"/>
            <path d="M32.3781 28.2663C32.3397 26.9678 33.2828 25.7159 34.6281 25.5452C35.6825 25.4109 36.7809 26.0648 37.243 27.173C37.7735 28.4426 37.2739 30.0732 36.1428 30.6749C34.7226 31.4295 32.9666 30.8279 32.4642 29.0639C32.3893 28.8036 32.3828 28.535 32.3781 28.2663ZM36.0109 28.2747C36.0455 27.9669 35.9697 27.6814 35.8285 27.4118C35.4383 26.6702 34.4794 26.6161 34.0415 27.326C33.6916 27.8932 33.6935 28.4986 33.9798 29.0919C34.1762 29.4976 34.5093 29.7187 34.978 29.6907C35.4355 29.6637 35.7022 29.3792 35.8827 28.9958C35.9884 28.7691 36.0436 28.5284 36.0109 28.2747Z" fill="#1363D6"/>
            <path d="M31.7726 27.1445C31.7726 28.1669 31.7773 29.1893 31.7698 30.2117C31.767 30.5876 31.5986 30.7975 31.2637 30.9001C30.8661 31.0223 30.4497 30.7574 30.3955 30.3413C30.3805 30.2284 30.3786 30.1137 30.3786 29.9999C30.3777 28.082 30.3777 26.165 30.3786 24.2471C30.3786 24.1435 30.3805 24.0391 30.3936 23.9374C30.4432 23.5391 30.7023 23.3264 31.1177 23.3357C31.4779 23.3441 31.7614 23.6072 31.767 23.984C31.7801 24.8721 31.7745 25.7601 31.7764 26.6482C31.7764 26.8133 31.7764 26.9784 31.7764 27.1435L31.7726 27.1445Z" fill="#1363D6"/>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_574_28074">
            <rect width="56" height="56" fill="white"/>
            </clipPath>
            <clipPath id="clip1_574_28074">
            <rect width="56" height="56" fill="white"/>
            </clipPath>
            </defs>
            </svg>
          </a>
        </li>
        <li>
          <a href='tel:0328141181' class="icon-phone">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_574_28086)">
            <g clip-path="url(#clip1_574_28086)">
            <g clip-path="url(#clip2_574_28086)">
            <path d="M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56Z" fill="#DA8314"/>
            <path d="M32.4452 31.1846L31.8759 31.784C31.8759 31.784 30.5227 33.2087 26.8289 29.3199C23.1351 25.431 24.4884 24.0063 24.4884 24.0063L24.8469 23.6289C25.7301 22.6991 25.8134 21.2062 25.0428 20.1164L23.4666 17.887C22.5129 16.5381 20.6699 16.3599 19.5768 17.5108L17.6148 19.5764C17.0728 20.1471 16.7096 20.8868 16.7536 21.7074C16.8663 23.8068 17.7634 28.3238 22.7692 33.594C28.0777 39.1828 33.0585 39.4049 35.0953 39.2039C35.7396 39.1403 36.2999 38.7928 36.7514 38.3175L38.5271 36.448C39.7257 35.1861 39.3878 33.0227 37.8542 32.14L35.466 30.7654C34.4591 30.1858 33.2322 30.3561 32.4452 31.1846Z" fill="white"/>
            <path d="M29.5744 15.35C29.6571 14.8389 30.1403 14.4922 30.6514 14.5749C30.683 14.581 30.7848 14.6 30.8382 14.6119C30.9448 14.6356 31.0936 14.6722 31.2791 14.7262C31.6501 14.8343 32.1683 15.0123 32.7904 15.2975C34.0357 15.8684 35.693 16.8672 37.4127 18.5869C39.1325 20.3067 40.1312 21.9639 40.7022 23.2093C40.9873 23.8313 41.1654 24.3495 41.2734 24.7205C41.3274 24.906 41.364 25.0548 41.3878 25.1615C41.3996 25.2148 41.4083 25.2576 41.4144 25.2893L41.4216 25.3283C41.5043 25.8394 41.1608 26.3425 40.6496 26.4253C40.14 26.5078 39.6599 26.1627 39.5751 25.654C39.5725 25.6404 39.5653 25.6037 39.5576 25.5691C39.5422 25.4998 39.5155 25.3901 39.4732 25.2449C39.3886 24.9544 39.2417 24.5228 38.9978 23.9907C38.5105 22.9278 37.6342 21.4601 36.0869 19.9127C34.5396 18.3654 33.0718 17.4892 32.009 17.0019C31.4769 16.7579 31.0452 16.611 30.7548 16.5264C30.6096 16.4841 30.4271 16.4422 30.3579 16.4268C29.8491 16.342 29.4918 15.8596 29.5744 15.35Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.8576 19.6619C29.9998 19.1641 30.5187 18.8758 31.0165 19.018L30.759 19.9195C31.0166 19.018 31.0165 19.018 31.0165 19.018L31.0184 19.0186L31.0203 19.0191L31.0244 19.0203L31.0341 19.0232L31.0589 19.0309C31.0777 19.037 31.1012 19.0448 31.1293 19.0548C31.1854 19.0747 31.2596 19.103 31.3507 19.142C31.5328 19.2201 31.7816 19.3406 32.0872 19.5215C32.6991 19.8836 33.5343 20.4851 34.5155 21.4663C35.4967 22.4475 36.0982 23.2827 36.4603 23.8946C36.6412 24.2002 36.7617 24.449 36.8398 24.6311C36.8788 24.7221 36.9071 24.7963 36.927 24.8525C36.937 24.8805 36.9448 24.9041 36.9508 24.9229L36.9586 24.9477L36.9614 24.9573L36.9627 24.9615L36.9632 24.9634C36.9632 24.9634 36.9637 24.9652 36.0623 25.2228L36.9637 24.9652C37.106 25.4631 36.8177 25.982 36.3199 26.1242C35.8262 26.2652 35.3119 25.983 35.1646 25.493L35.16 25.4795C35.1533 25.4607 35.1395 25.4237 35.1164 25.3697C35.0701 25.2618 34.9862 25.0853 34.8467 24.8495C34.568 24.3786 34.0646 23.667 33.1897 22.7921C32.3147 21.9172 31.6032 21.4138 31.1322 21.1351C30.8965 20.9955 30.72 20.9117 30.6121 20.8654C30.558 20.8423 30.5211 20.8285 30.5023 20.8218L30.4888 20.8172C29.9987 20.6699 29.7165 20.1555 29.8576 19.6619Z" fill="white"/>
            </g>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_574_28086">
            <rect width="56" height="56" fill="white"/>
            </clipPath>
            <clipPath id="clip1_574_28086">
            <rect width="56" height="56" fill="white"/>
            </clipPath>
            <clipPath id="clip2_574_28086">
            <rect width="56" height="56" fill="white"/>
            </clipPath>
            </defs>
            </svg>
          </a>
        </li>
      </ul>
      <!-- Modal Popup for Contact -->
      <div id="contactModal" class="modal">
        <div class="modal-content">
          <span class="close-btn" onclick="closeModal()">&times;</span>
          <h2 class="title-modal-contact">Đăng ký nhận tư vấn</h2>
          <!-- Include contact form here -->
          {% section 'contact-form' %}
        </div>
      </div>
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };

      window.quickOrderListStrings = {
        itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
        itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
        itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
        itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
        viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
        each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
        recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
        countrySelectorSearchCount: `{{ 'localization.country_results_count' | t: count: '[count]' }}`,
      };
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
