{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}
    px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}
      px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="container">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'column1' -%}
        <div class="column1">
          <ul>
            <li class="item-contact">
              <img
                class="image-logo"
                src="{{ block.settings.image_logo | image_url: width: master }}"
                alt="{{ block.settings.image_logo.alt | escape }}"
                loading="lazy">
            </li>
            <li class="item-contact">
              <img
                class="icon-contact"
                src="{{ block.settings.image_adress | image_url: width: master }}"
                alt="{{ block.settings.image_adress.alt | escape }}"
                loading="lazy">
              <p class="text-item">{{ block.settings.address }}</p>
            </li>
            <li class="item-contact">
              <img
                class="icon-contact"
                src="{{ block.settings.image_phone | image_url: width: master }}"
                alt="{{ block.settings.image_phone.alt | escape }}"
                loading="lazy">
              <p class="text-item">{{ block.settings.phone }}</p>
            </li>
            <li class="item-contact">
              <img
                class="icon-contact"
                src="{{ block.settings.image_email | image_url: width: master }}"
                alt="{{ block.settings.image_email.alt | escape }}"
                loading="lazy">
              <p class="text-item">{{ block.settings.email }}</p>
            </li>
          </ul>
          <div class="social-icons">
            <a href={{block.settings.url_facebook}}>
              <img
                class="icon-social"
                src="{{ block.settings.image_facebook | image_url: width: master }}"
                alt="{{ block.settings.image_facebook.alt | escape }}"
                loading="lazy">
            </a>
            <a href={{block.settings.url_youtube}}>
              <img
                class="icon-social"
                src="{{ block.settings.image_youtube | image_url: width: master }}"
                alt="{{ block.settings.image_youtube.alt | escape }}"
                loading="lazy">
            </a>
            <a href={{block.settings.url_zalo}}>
              <img
                class="icon-social"
                src="{{ block.settings.image_zalo | image_url: width: master }}"
                alt="{{ block.settings.image_zalo.alt | escape }}"
                loading="lazy"></a>
          </div>
          <div class="rich-text text-item">
            {{ block.settings.rich_text }}
          </div>
        </div>
        {%- when 'column2' -%}
        <div class="column2">
          <h2 class="text-item-title">{{ block.settings.heading_column2 }}</h2>
          <ul>
            <li><a class="text-item" href={{block.settings.url_homepage}}>{{ block.settings.homepage }}</a></li>
            <li><a class="text-item" href={{block.settings.url_about}}>{{ block.settings.about }}</a></li>
            <li><a class="text-item" href={{block.settings.url_product}}>{{ block.settings.product }}</a></li>
            <li><a class="text-item" href={{block.settings.url_service}}>{{ block.settings.service }}</a></li>
            <li><a class="text-item" href={{block.settings.url_news}}>{{ block.settings.news }}</a></li>
            <li><a class="text-item" href={{block.settings.url_contact}}>{{ block.settings.contact }}</a></li>
          </ul>
        </div>
        {%- when 'column3' -%}
        <div class="column3">
          <h2 class="text-item-title">{{ block.settings.heading_column3 }}</h2>
          <ul>
            <li><a class="text-item" href="#">{{ block.settings.payment_policy }}</a></li>
            <li><a class="text-item" href="#">{{ block.settings.information_security_policy }}</a></li>
            <li><a class="text-item" href="#">{{ block.settings.refund_policy }}</a></li>
            <li><a class="text-item" href="#">{{ block.settings.shipping_policy }}</a></li>
            <li><a class="text-item" href="#">{{ block.settings.operating_regulations }}</a></li>
            <li><a class="text-item" href="#">{{ block.settings.general_terms }}</a></li>
            <li><a href="#"><img class="image-column3" src="{{ block.settings.image_column_3 | image_url: width: master }}" alt="{{ block.settings.image_column_3.alt | escape }}" loading="lazy"></a></li>
          </ul>
        </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</footer>

{% schema %}
  {
    "name": "Custom columns",
    "blocks": [
      {
        "type": "column1",
        "name": "Column 1",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_logo",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_adress",
            "label": "Icon địa chỉ"
          },
          {
            "type": "text",
            "id": "address",
            "label": "Địa chỉ"
          },
          {
            "type": "image_picker",
            "id": "image_phone",
            "label": "Icon số điện thoại"
          }, {
            "type": "text",
            "id": "phone",
            "label": "Điện thoại"
          }, {
            "type": "image_picker",
            "id": "image_email",
            "label": "Icon email"
          }, {
            "type": "text",
            "id": "email",
            "label": "Email"
          }, {
            "type": "url",
            "id": "url_facebook",
            "label": "Url Image"
          }, {
            "type": "image_picker",
            "id": "image_facebook",
            "label": "Image Facebook"
          }, {
            "type": "url",
            "id": "url_zalo",
            "label": "Url Zalo"
          }, {
            "type": "image_picker",
            "id": "image_zalo",
            "label": "Image Zalo"
          }, {
            "type": "url",
            "id": "url_youtube",
            "label": "Url Youtube"
          }, {
            "type": "image_picker",
            "id": "image_youtube",
            "label": "Image Youtube"
          }, {
            "type": "richtext",
            "id": "rich_text",
            "label": "Rich Text"
          }
        ]
      }, {
        "type": "column2",
        "name": "Column 2",
        "settings": [
          {
            "type": "text",
            "id": "heading_column2",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url_homepage",
            "label": "Url homepage"
          },
          {
            "type": "text",
            "id": "homepage",
            "label": "Trang chủ"
          },
          {
            "type": "url",
            "id": "url_about",
            "label": "Url about"
          }, {
            "type": "text",
            "id": "about",
            "label": "Về chúng tôi"
          }, {
            "type": "url",
            "id": "url_product",
            "label": "Url product"
          }, {
            "type": "text",
            "id": "product",
            "label": "Sản phẩm"
          }, {
            "type": "url",
            "id": "url_service",
            "label": "Url service"
          }, {
            "type": "text",
            "id": "service",
            "label": "Dịch vụ"
          }, {
            "type": "url",
            "id": "url_news",
            "label": "Url news"
          }, {
            "type": "text",
            "id": "news",
            "label": "Tin tức"
          }, {
            "type": "url",
            "id": "url_contact",
            "label": "Url contact"
          }, {
            "type": "text",
            "id": "contact",
            "label": "Liên hệ"
          }
        ]
      }, {
        "type": "column3",
        "name": "Column 3",
        "settings": [
          {
            "type": "text",
            "id": "heading_column3",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "payment_policy",
            "label": "Chính sách thanh toán – Chính sách xử lý khiếu nại"
          },
          {
            "type": "text",
            "id": "information_security_policy",
            "label": " Chính sách bảo mật thông tin"
          },
          {
            "type": "text",
            "id": "refund_policy",
            "label": " Chính sách đổi trả và hoàn tiền"
          }, {
            "type": "text",
            "id": "shipping_policy",
            "label": " Chính sách giao hàng và vận chuyển"
          }, {
            "type": "text",
            "id": "operating_regulations",
            "label": " Quy chế hoạt động"
          }, {
            "type": "text",
            "id": "general_terms",
            "label": " Điều khoản chung"
          }, {
            "type": "image_picker",
            "id": "image_column_3",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}